.git
.github
node_modules
.env
.env.*
.DS_Store
api/test
api/test-support
api/coverage
ui/test
e2e
playwright.config.js
playwright-report
test-results
templates
scripts/**
!scripts/exit-on-fatal.py
!scripts/bump-cache-busting.js
*.md
docs
.dockerignore
Dockerfile
